*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: red;
    color: gold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 25px 0px 25px 0px;
    font-size: 16px;
}
    

.apresentaçao_trabalho{
    background-image: linear-gradient(lemonchiffon, #dd371a);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}